html, body {
        height: 100%;
        margin: 0px;
		background-color: powderblue;
}

#chartdiv {
  width: 70%;
  height: 80%;
}

/* Styling for popup menus */
.box{
    float:left;
    margin-right:10px;
	height: 85%;
	width: 28%;
    margin: 0px;
}
.clear{
    clear:both;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #FFF;
  font-weight: bold;
  background: #9400D3;
  border: 2px solid #000;
  border-radius: 20px/50px;
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
}

.popup h2 {
  margin-top: 0;
  color: #333;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}


/* Styling for top navbar */
/* Add a black background color to the top navigation */
.topnav {
background-color: #333;
overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: right;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
background-color: purple;
color: white;
}

.topnav a.title {
float: left;
background-color: #333;
}

.topnav a:hover{
background-color: #9400D3;
}